<!--Web.Config Configuration File -->
<configuration>
    <system.web>
        <customErrors mode="Off" />
        <compilation debug="true" />
        <authentication mode="Forms">
			<forms 
				loginUrl="/timeout.aspx"
			/>
        </authentication>
        <webServices>
			<protocols>
				<!-- Allows remote users to access .asmx test forms.  Remove before full deploy.  (JH 7/3/2003)-->
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
        </webServices>
    </system.web>
    <appSettings>
		<add key="conString" value="Database=ELVIS_LS;Server=localhost;Integrated Security=true"  />
	</appSettings>
</configuration>
