<!--Web.Config Configuration File -->
<configuration>
	<system.web>
		<customErrors mode="Off"/>
		<compilation debug="true">
			<compilers>
				<compiler language="vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".VB" compilerOptions="/define:Debug=True /define:Trace=True /imports:Microsoft.VisualBasic,System,System.Collections,System.Configuration,System.Data,System.Drawing,System.Web,System.Web.UI,System.Web.UI.HtmlControls,System.Web.UI.WebControls"/></compilers></compilation>
		<authentication mode="Forms">
			<forms loginUrl="/timeout.aspx"/>
		</authentication>
		<webServices>
			<protocols>
				<!-- Allows remote users to access .asmx test forms.  Remove before full deploy.  (JH 7/3/2003)-->
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<xhtmlConformance mode="Legacy"/>
	<pages>
	<namespaces>
		<add namespace="Microsoft.VisualBasic"/>
		<add namespace="System.Data"/>
		<add namespace="System.Drawing"/></namespaces></pages></system.web>
	<appSettings>
		<add key="conString" value="Database=ELVIS_LS5;Server=localhost;Integrated Security=true"/>
	</appSettings>
</configuration>
