.regular {
   font-family: Arial,Helvetica,Sans-Serif;
}

.small {
   font-family: Arial,Helvetica,Sans-Serif;
}

.extra-small {
   font-family: Arial,Helvetica,Sans-Serif;
}

.title {
   font-family: Arial,Helvetica,Sans-Serif;
   font-weight: bold;
   color: #1C388A;
}

.darkblue {
   color: #27225C;
}

.offblue {
   color: #243588;
}

.menu {
   color: black;
}
