<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings>
		<!-- Web.Config -->
		<!-- 
    ProcessAgent required Keys -->
		<!-- THE FOLLOWING MUST BE SET FOR ALL SERVICES, used to define the service -->
		<!-- The following  keys specify the WebService required Values -->
		<!-- They are used by the SelfRegistration page to generate the ProcessAgent's
        	 Bootstrap ProcessAgent Record, which must be created before installing domain credientials -->
		<!-- the database connection information 
    NOTE: You Must set the database catalog to the database name that you created as part of the installation process -->
		<add key="sqlConnection" value="data source=(local);initial catalog=ILAB_SMS;Integrated Security=SSPI"/>
		<add key="DatabaseProvider" value="System.Data.SqlClient"/>
		<add key="serviceType" value="GENERIC PA"/>
		<!-- The name of the Service displayed for the user, please change -->
		<add key="serviceName" value="Generic PA"/>
		<!-- This Service's GUID You must supply a vaild GUID, see createGUID.exe, may be any string, 50 characters or less. -->
		<add key="serviceGUID" value=""/>
		<add key="codebaseURL" value="http://localhost/TextReservation"/>
		<add key="serviceURL" value="http://localhost/iLTextReservation/SMSReservation.asmx"/>
		<add key="defaultPasskey" value="GPA"/>
		<add key="bugReportMailAddress" value="ilab-bug@mit.edu"/>
		<add key="supportMailAddress" value="ilab-bug@mit.edu"/>
		<!-- Optional path and filename for application log. The directory must exisit & be writeable to the IIS worker process -->
		<add key="logPath" value=""/>
	</appSettings>
	<system.diagnostics>
		<switches>
			<add name="defaultTrace" value="Off"/>
		</switches>
	</system.diagnostics>
	<connectionStrings/>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="stdole, Version=7.0.3300.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
</configuration>
