/*
 * LabSetup.ascx
 */
#labsetup td
{
	text-align: left;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
}
#labsetup td.label
{
	width: 80px;
	padding-right: 5px;
}
#labsetup td.data
{
	width: 160px;
}
#labsetup td.dataright
{
	width: 100%;
}
