<!-- 
Copyright (c) 2005 The Massachusetts Institute of Technology. All rights reserved.
Please see license.txt in top level directory for full license. 
-->

<!--Web.Config Configuration File -->
<configuration>
    <system.web>
        <customErrors mode="Off" />
        <compilation debug="true" />
        <authentication mode="Forms">
			<forms loginUrl="/timeout.aspx" />
        </authentication>
        <webServices>
			<protocols>
				<!-- Allows remote users to access .asmx test forms.  Remove before full deploy.  (JH 7/3/2003)-->
				<add name="HttpGet" />
				<add name="HttpPost" />
			</protocols>
        </webServices>
    </system.web>
    <appSettings>
		<add key="conString" value="Server=localhost;Database=WebLabServicesLS;Trusted_Connection=True" />
    </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
